@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin : 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}
main {
    width : 100%;

}
.first-section {
    width : 100%;
    background: #1F2739;
    padding: 20px 80px 80px 80px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h3 {
    font-size: 24px;
    color: #F9FAF8;
}
nav ul{
    display: flex;
    align-items:center;
    justify-content: center;
    gap : 20px;
}
li,p {
    font-size: 18px;
    list-style: none;
    color : #E5E7EB;
}
ul li a {
    text-decoration: none;
    color : #E5E7EB;
}
.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin : 40px 0px;*/
    margin-top : 50px;
}
.text-d{
    width : 40%;
}
img {
    width: 40%;
}
h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color : #F9FAF8;
}

 button {
    height: 30px;
    width: 20%;
    margin-top: 10px; 
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: rgb(63, 192, 243);
}